body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}
.italic-names {
  font-style: italic;
}
.bold-p {
  font-weight: bold;
}
.member-image {
  width: 250px;
  height: 300px;
  object-fit: cover;
}
#member-info {
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

#member-info.show {
  opacity: 1;
}
